.colouredElements {
    background-color: yellow; 
    border: 1px solid white;
}

.buttons {
    margin-top: 20px;
    margin-bottom: 100px;
}

.button {
    background-color: yellow; 
    color: black; 
    border: 2px solid yellow; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: darkorange; 
}
